.formContainer {
  height: 80%;
  width: 97%;
  max-width: 1150px;

  display: grid;
  grid-template-rows: auto 1fr auto auto auto;

  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: var(--nato-light-blue);
  background-image: linear-gradient(
    var(--nato-light-blue),
    var(--nato-dark-blue)
  );
}

.Scoreboard {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;

  border-bottom: 1px dashed var(--accent-color);
  padding-bottom: 10px;
}

.formContainer > :nth-child(2) {
  place-self: center;
}

.formContainer > :nth-child(3) {
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: lighter;
}

.formContainer > :nth-child(4) {
  margin-bottom: 8px;
}

input {
  width: 100%;

  font-size: inherit;
  color: var(--text-color);

  background-color: var(--nato-light-blue);
  border: none;
  border-bottom: var(--text-color) 1px solid;
  opacity: 0.5;
}

input:focus {
  outline: none;
  opacity: 1;
}

button {
  height: 2rem;

  text-transform: uppercase;
  font-size: inherit;
  font-weight: bold;
  color: var(--nato-light-blue);

  background-color: var(--text-color);
  border: 1px solid var(--nato-light-blue);
  border-radius: 10px;
}

button:hover {
  color: var(--text-color);

  background-color: var(--nato-light-blue);
  border-color: var(--text-color);
}

/* Utils */
.utilsHeroText {
  font-size: 33vw;
  font-weight: bold;
}

.utilsElevated {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.5);
}

.utilsUnderline {
  text-decoration: underline;
}

/* I chose 520px from manually checking how the scoreboard looks in different sizes */
@media (min-width: 520px) {
  html,
  body {
    font-size: 24px;
  }

  .formContainer {
    padding: 20px;
  }

  .Scoreboard {
    grid-template-columns: repeat(13, 1fr);
    padding-bottom: 20px;
  }

  .formContainer > :nth-child(3) {
    font-size: 1rem;
  }

  .formContainer > :nth-child(4) {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}

@media (min-width: 1150px) {
  /*  At 33vw font-size, the letter becomes so big that it pushes other elements away
        and breaks the layout    */
  .utilsHeroText {
    font-size: 18rem;
  }
}
